.champions-list-row--clickable {
  &:hover {
    background-color: #ebccd1;
  }
  cursor: pointer;
}

.welcome-logo {
  content: url("../images/logo.png");
  max-height: 300px;
  padding-bottom: 50px;
}

.margin-top--10-pixel {
  margin-top: 10px;
}

.margin-bottom--10-pixel {
  margin-bottom: 10px;
}

body {
  background: {
    image: url('../images/background.jpg');
    color: #cccccc;
    repeat: no-repeat;
    position: center;
    blend-mode: exclusion;
    size: cover;
  }
}
