<section>
    <div class="panel panel-danger">
        <blockquote class="panel-heading">
            {{::vm.pageTitle}}
        </blockquote>
        <div class="panel-body">
            <div class="row form-inline">
                <strong class="col-xs-2 control-label">Season Period:</strong>
                <div class="col-xs-3 form-group">
                    <label class="control-label" for="periodStart">From</label>
                    <select class="form-control" id="periodStart" ng-model="vm.periodStart" ng-options="season for season in vm.model.seasonList.seasons">
                    </select>
                </div>
                <div class="col-xs-3 form-group">
                    <label class="control-label" for="periodEnd">To</label>
                    <select class="form-control" id="periodEnd" ng-model="vm.periodEnd" ng-options="season for season in vm.model.seasonList.getSeasonsFrom(vm.periodStart)">
                    </select>
                </div>
                <div class="col-xs-3 form-group">
                    <a class="btn btn-default" ng-click="vm.populateChampions()">
                        <i class="glyphicon glyphicon-search"></i>
                        Fetch
                    </a>
                </div>
            </div>
            <div class="row"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <strong class="col-xs-2">Season</strong>
                    <strong class="col-xs-2">Driver</strong>
                    <strong class="col-xs-2">Constructor</strong>
                    <strong class="col-xs-2">Points</strong>
                    <strong class="col-xs-2">Wins</strong>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row champions-list-row--clickable" ng-controller="navController as nc" ng-click="nc.switchView('/seasonResults/'+champion.season)"
                    ng-repeat="champion in vm.model.getChampions()">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2">{{champion.season}}</div>
                    <div class="col-xs-2">{{champion.driverStandings.driver.givenName}} {{champion.driverStandings.driver.familyName}}</div>
                    <div class="col-xs-2">{{champion.driverStandings.sponsor.name}}</div>
                    <div class="col-xs-2">{{champion.driverStandings.points }}</div>
                    <div class="col-xs-2">{{champion.driverStandings.wins}}</div>
                    <div class="col-xs-1"></div>
                </div>
                <div class="row"></div>
                <div class="row" ng-if="vm.model.getPagination().length > 1">
                    <ul class="col-md-5 col-md-push-6 pagination pagination-sm center-block">
                        <li ng-class="{'active': page === vm.model.activePage}" ng-repeat="page in vm.model.getPagination()">
                            <a href="" ng-click="vm.model.activePage = page">{{page}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>