<section>
    <div class="panel panel-danger">
        <blockquote class="panel-heading">
            {{::vm.pageTitle}}
        </blockquote>
        <div class="panel-body">
            <a class="btn btn-default margin-bottom--10-pixel" href="" ng-controller="navController as nc" ng-click="nc.switchView('/champions')">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Back
            </a>
            <div class="container-fluid">
                <div class="row">
                    <strong class="col-xs-3">Race</strong>
                    <strong class="col-xs-3">Circuit</strong>
                    <strong class="col-xs-3">Winner</strong>
                    <strong class="col-xs-3">Location</strong>
                </div>
                <div class="row" ng-class="{'bg-info' : vm.isChampion(race.winner.driverId)}"
                     ng-repeat="race in vm.model.races">
                    <div class="col-xs-3">{{race.raceName}}</div>
                    <div class="col-xs-3">{{race.circuit.circuitName}}</div>
                    <div class="col-xs-3">{{race.winner.getFullName()}}</div>
                    <div class="col-xs-3">{{race.circuit.location.getFullLocation()}}</div>
                </div>
            </div>
            <a class="btn btn-default margin-top--10-pixel" href="" ng-controller="navController as nc" ng-click="nc.switchView('/champions')">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Back
            </a>
        </div>
    </div>
</section>
