<div class="panel panel-danger">
    <blockquote class="panel-heading">
        Welcome To F1 World Championship Records
    </blockquote>
    <div class="panel-body">
        <div class="row">
            <img class="img-responsive center-block welcome-logo"/>
        </div>
    </div>
</div>
